:root {
  --primary: #e22f24;
  --semi-black: #333;
  --spin-animation: spin-profile 2s linear infinite;
}


.side-menu-avatar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300%;
  transform: rotate(-58deg);
  top: -135%;
  right: -80%;
  background-color: var(--semi-black);
  z-index: -1;
}

.side-menu-avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300%;
  transform: rotate(58deg);
  top: -135%;
  left: -80%;
  background-color: var(--semi-black);
  z-index: -1;
}

#about-image::before {
  content: "";
  position: absolute;
  background-color: var(--primary);
  width: 300%;
  height: 70%;

  z-index: -1;
  animation: spin-about 10s linear infinite;

  left: -100%;
  top: 15%;
  transform-origin: center;
}

@keyframes spin-about {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
